body {
	margin: 0;
}

#pharma {
	margin: 40px 5%;
	display: flex;
	position: fixed;
	box-shadow: 8px 8px 16px #80808061;
	border: 2px solid rgba(137, 137, 137, 0.2);
	border-radius: 5px;
	max-height: 80vh;
	overflow: auto;
}

#pharma-form {
	width: 52%;
	padding: 30px;
}

#pharma-pic {
	width: 48%;
	position: sticky;
	top: 0;
}

#pharma-pic img {
	width: 100%;
	height: 100%;
	position: sticky;
	top: 0;
}

#pform {
	padding: 5px;
}

#pform > div {
	margin-bottom: 10px;
}

#pform h3 {
	margin: 15px 0;
}

#contact input, #address input {
	border: none;
	padding: 10px;
	width: 40%;
	margin: 0 5px 10px;
	border-bottom: 1px solid black;
}

#contact input:focus, #address input:focus {
	border: none;
}

#address h4 {
	margin: 10px 0;
}

#address select {
	padding: 8px;
	font-size: 14px;
}

#test div {
	margin: 5px 10px;
	padding: 3px;
}

#report div, #appointment div {
	display: inline-block;
	width: 20%;
	margin: 10px;
	margin-top: 0;
	padding: 5px;
}

#appointment h3 ~ div {
	width: 55%;
}

#appointment h3 + div {
	width: 30%;
}

#buttons {
	position: absolute;
	bottom: 20px;
	right: 48%;
}

button {
	margin: 10px 20px;
	width: 80px;
	border-radius: 4px;
	height: 30px;
	color: white;
	font-size: 18px;
	border: none;
	background-color: rgb(175, 102, 243);
}